  
  
  .jumbotron {
    
 
    background-image: asset-url('IMG_7710.JPG');
    background-size: cover;
    height: 550px;
  }
  
  .jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    
  }